[submodule "hodea-lib"]
	path = hodea-lib
	url = https://github.com/hodea/hodea-lib.git
[submodule "hodea-stm32f0-cmsis"]
	path = hodea-stm32f0-cmsis
	url = https://github.com/hodea/hodea-stm32f0-cmsis.git
[submodule "hodea-stm32f3-cmsis"]
	path = hodea-stm32f3-cmsis
	url = https://github.com/hodea/hodea-stm32f3-cmsis.git
